<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章添加--layui后台管理模板</title>
    <link rel="stylesheet" href="/static/admin/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/admin/css/font_eolqem241z66flxr.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">申请会员</label>
        <div class="layui-input-block" style="line-height: 2.3rem;">
            {$info.user}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">申请活动</label>
        <div class="layui-input-block" style="line-height: 2.3rem;">
            {:getProject($info.projectid)}
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">审核</label>
            <div class="layui-input-inline">
                <select name="browseLook" class="newsLook" lay-filter="browseLook" >
                    <option value="0" {if $info.status ==0 }selected{/if}>未通过</option>
                    <option value="2" {if $info.status ==2 }selected{/if}>审核通过</option>
                    <option value="3" {if $info.status ==3 }selected{/if}>审核未通过</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">彩金</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="prize" value="{$info.prize}">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">申请说明</label>
        <div class="layui-input-block" style="line-height: 2.3rem;">
            {$info.condition|raw}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入备注" class="layui-textarea" name="explain">{$info.explain}</textarea>
        </div>
        <input type="hidden" name="id" value="{$info.id}">
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn btn_edituserapply" type="button" >立即提交</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="/static/admin/layui/layui.js"></script>
<script type="text/javascript" src="/static/admin/js/newsAdd.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery-3.3.1.min.js"></script>
</body>
<script>
    $(function () {
        $('.btn_edituserapply').click(function () {

            var form=$('form').serializeArray();

            var url="{:url('/admin/User/tan')}"
            $.post(url,form,function (res) {
                if(res.code==0){
                    layer.msg(res.msg,{icon:1});
                    window.parent.location.reload();
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }else{
                    layer.msg(res.msg,{icon:2});

                }
            },'json')
            // var status=$("select[name='status']").val();
            // var prize=$("input[name='prize']").val();
            // var explain=$("textarea[name='explain']").val();
        })
    })
</script>
</html>